* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  font-family: Poppins, sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/login.jpg");
  background-size: cover;
  background-position: center;
}
.content {
  width: 400px;
  background: transparent;
  border: 2px solid rgb(rgb(255, 255, 0.2));
  backdrop-filter: blur(13px);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px 35px;
}
.content h2 {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}
.content .input-box {
  width: 100%;
  position: relative;
  height: 55px;
  margin: 30px 0;
}
.content .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgb(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 20px 45px 20px 20px;
  font-size: 16px;
}
input::placeholder {
  color: #fff;
  font-size: 16px;
}
.input-box i {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #fff;
}
.content .remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -16px 0 16px 0;
}
.content label input {
  accent-color: #fff;
  margin-right: 4px;
}
.remember a {
  color: #fff;
  text-decoration: none;
}
.content h2 {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}
.content .input-box {
  position: relative;
  height: 55px;
  margin: 30px 0;
  width: 100%;
}
.content .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgb(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 20px 45px 20px 20px;
  font-size: 16px;
}
.button a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}
.button a i {
  font-size: 20px;
  margin: 8px;
}
.button a:hover {
  opacity: 0.8;
}
input[type="checkboe"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credential-auto-fill-button,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-contacts-auto-fill-button {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
.btnn {
  display: inline-block;
  background: #fff;
  color: #0a2862;
  width: 100%;
  border-radius: 30px;
  font-size: 16px;
  height: 45px;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 16px;
}
.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
